/* ESTILOS DA PÁGINA INDEX.HTML */

.center {

    text-align: center;
}

.t-h1 {

    text-align: center;
    font-size: 40px;
}

.t-h2 {

    text-align: center;
    font-size: 20px;
}

.conteudo {

    font-size: 15px;
    justify-content: center;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;

}

.imgCentro{

   
    margin-left: 100px;

}

.vanHalen{

    width: 80%;
    height: 100%;
    border-radius: 20px;
}

.bateria{

    width: 40%;
    height: 1%;
    border-radius: 20px;
    justify-items: center !important;
}


.sherlock{

    border-radius: 20px;
  
}

/* FlexBox */
.container {  

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.centrao {  

    display: flex;
    
    justify-content: center;
    align-items: center;
}

/* Menu Topo da página */
#menu li {

    display: inline;
    padding: 15px;            

}

/* Tirou o traço de link */
#menu li a {

    text-decoration: none;
    color: black;
    font-size: 20px;

}

/* Efeito em cima do link */
#menu li a:hover {

    color: gray;

}

/* Texto */
.p-30 {

    padding: 30px;
}

/* Borda da foto */

.br-50 {

    border-radius: 50%;
    
}

.wh {

    width: 200px;
    height:200px;
}

.tm-social {

    width: 50px;
    height:50px;
    padding: 10px;

}



/* ESTILO DA PÁGINA CONTATO.HTML */ 


.ml-50 {

    margin-left: 50px;

}

.bg-01 {

    background-color: rgb(245, 210, 155);


}
